{% extends 'layout.html' %}
{% load i18n %}
{% block title %}IDEL{% endblock %}
{% block content %}
<!-- Page content -->
<div class="container mt-5">
    <!-- Project Section -->
    <div id="statistics" class="mb-5">
        <h1 class="text-center">{% trans 'Estadísticas' %}</h1>
        <div class="statistics">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Grupo 1 de estadísticas -->
                <div class="col d-flex justify-content-center">
                    <div class="card text-center shadow p-3">
                        <h4>Bar Charts 1</h4>
                        <div id="barChart1" class="chart-container">
                            <!-- Estadísticas de barras -->
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card text-center shadow p-3">
                        <h4>Bar Charts 2</h4>
                        <div id="barChart2" class="chart-container">
                            <!-- Estadísticas de barras -->
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card text-center shadow p-3">
                        <h4>Bar Charts 3</h4>
                        <div id="barChart3" class="chart-container">
                            <!-- Estadísticas de barras -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
                <!-- Grupo 2 de estadísticas -->
                <div class="col d-flex justify-content-center">
                    <div class="card text-center shadow p-3">
                        <h4>Bar Charts 4</h4>
                        <div id="barChart4" class="chart-container">
                            <!-- Estadísticas de barras -->
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card text-center shadow p-3">
                        <h4>Bar Charts 5</h4>
                        <div id="barChart5" class="chart-container">
                            <!-- Estadísticas de barras -->
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card text-center shadow p-3">
                        <h4>Bar Charts 6</h4>
                        <div id="barChart6" class="chart-container">
                            <!-- Estadísticas de barras -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.chart-container {
    width: 100%;
    height: 250px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages':['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var chartDiv1 = document.getElementById('barChart1');
        var chartDiv2 = document.getElementById('barChart2');
        var chartDiv3 = document.getElementById('barChart3');
        var chartDiv4 = document.getElementById('barChart4');
        var chartDiv5 = document.getElementById('barChart5');
        var chartDiv6 = document.getElementById('barChart6');

        var data1 = google.visualization.arrayToDataTable([
          ['Galaxy', 'Distance', 'Brightness'],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Bootes I', 60000, 13.1]
        ]);

        var data2 = google.visualization.arrayToDataTable([
          ['Galaxy', 'Distance', 'Brightness'],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Bootes I', 60000, 13.1]
        ]);

        var data3 = google.visualization.arrayToDataTable([
          ['Galaxy', 'Distance', 'Brightness'],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Bootes I', 60000, 13.1]
        ]);

        var data4 = google.visualization.arrayToDataTable([
          ['Galaxy', 'Distance', 'Brightness'],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Bootes I', 60000, 13.1]
        ]);

        var data5 = google.visualization.arrayToDataTable([
          ['Galaxy', 'Distance', 'Brightness'],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Bootes I', 60000, 13.1]
        ]);

        var data6 = google.visualization.arrayToDataTable([
          ['Galaxy', 'Distance', 'Brightness'],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Canis Major Dwarf', 8000, 23.3],
          ['Sagittarius Dwarf', 24000, 4.5],
          ['Ursa Major II Dwarf', 30000, 14.3],
          ['Lg. Magellanic Cloud', 50000, 0.9],
          ['Bootes I', 60000, 13.1]
        ]);

        var materialOptions = {
          width: 900,
          chart: {
            title: 'Nearby galaxies',
            subtitle: 'distance on the left, brightness on the right'
          },
          series: {
            0: { axis: 'distance' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'brightness' } // Bind series 1 to an axis named 'brightness'.
          },
          axes: {
            y: {
              distance: {label: 'parsecs'}, // Left y-axis.
              brightness: {side: 'right', label: 'apparent magnitude'} // Right y-axis.
            }
          }
        };

        function drawMaterialChart() {
          var materialChart1 = new google.charts.Bar(chartDiv1);
          var materialChart2 = new google.charts.Bar(chartDiv2);
          var materialChart3 = new google.charts.Bar(chartDiv3);
          var materialChart4 = new google.charts.Bar(chartDiv4);
          var materialChart5 = new google.charts.Bar(chartDiv5);
          var materialChart6 = new google.charts.Bar(chartDiv6);
          materialChart1.draw(data1, google.charts.Bar.convertOptions(materialOptions));
          materialChart2.draw(data2, google.charts.Bar.convertOptions(materialOptions));
          materialChart3.draw(data3, google.charts.Bar.convertOptions(materialOptions));
          materialChart4.draw(data4, google.charts.Bar.convertOptions(materialOptions));
          materialChart5.draw(data5, google.charts.Bar.convertOptions(materialOptions));
          materialChart6.draw(data6, google.charts.Bar.convertOptions(materialOptions));
        }

        drawMaterialChart();
    };
</script>
{% endblock content %}