{% extends 'layout.html' %}
{% load i18n %}
{% block title %}OpenAT{% endblock %}
{% block content %}
<div id="main_content" class="container mt-5">
    <!-- About Section -->
    <div>
        <h3>{% trans 'Sobre nosotros' %}</h3>
        <p>
            {% blocktrans %}
            Aquí puedes registrarte para participar en los experimentos del Laboratorio de Investigación en Desarrollo, Educación y Lenguaje (I+DELab). Nuestro laboratorio está en el campus de la UIB, en el edificio Guillem Cifre, pero también llevamos a cabo muchos estudios online. En esta sección de la web aparecerán los estudios disponibles y solo tendrás que hacer clic para participar. ¡Gracias por contribuir al progreso de la ciencia y la educación con nuestro grupo!
            {% endblocktrans %}
        </p>
    </div>
    <!-- End page content -->
</div>
<style>
    #recommended_projects {
        margin-top: 80px;
    }
</style>
{% endblock %}
