{% extends 'layout.html' %}
{% load i18n %}
{% block title %}IDEL Home{% endblock %}
{% block content %}
<!-- Page content -->
<div id="main_content" class="container mt-5">
    <!-- Project Section -->
    {% if recommended_items %}
    <div id="recommended_projects">
        <h3>{% trans 'Recomendados' %}</h3>
    </div>
    <div id="recommended_cardContainer">
        {% for recommended in recommended_items %}
        <div class="card border p-3 mt-2 mb-2" style="background-color: #f2f2f2;">
            <a href="{{ project.url_to_jatos }}">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <p class="mb-0"><b>{{ recommended.name }}</b></p>
                            </div>
                        </div>
                    </div>
                    {% if recommended.photo %}
                    <br>
                    <div class="text-center">
                        <img src="{{ recommended.photo.url }}" alt="{{ recommended.name }}" class="img-fluid"
                             style="max-width: 100%; width: 1000px; height: 460px;"/>
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if projects %}
    <div id="projects">
        <h3>{% trans 'Proyectos' %}</h3>
    </div>
    <div id="projects_cardContainer">
        {% for project in projects %}
        <div class="card border p-3 mt-2 mb-2" style="background-color: #f2f2f2;">
            <a href="{{ project.url_to_jatos }}">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <p class="mb-0"><b>{{ project.name }}</b></p>
                            </div>
                        </div>
                    </div>
                    {% if project.photo %}
                    <br>
                    <div class="text-center">
                        <img src="{{ project.photo.url }}" alt="{{ project.name }}" class="img-fluid"
                             style="max-width: 100%; width: 1000px; height: 460px;"/>
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if scales %}
    <div id="scale">
        <h3>{% trans 'Baremos' %}</h3>
    </div>
    <div id="scale_cardContainer">
        {% for scale in scales %}
        <div class="card border p-3 mt-2 mb-2" style="background-color: #f2f2f2;">
            <a href="{{ scale.url_to_jatos }}">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <p class="mb-0"><b>{{ scale.name }}</b></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% if scale.photo %}
                    <div class="text-center">
                        <img src="/" alt="/" class="img-fluid"
                             style="max-width: 100%; width: 1000px; height: 460px;"/>
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if investStudies %}
    <div id="investStudies">
      <h3>{% trans 'Investigaciones' %}</h3>
    </div>
    <div id="invest_cardContainer">
        {% for invest in investStudies %}
        <div class="card border p-3 mt-2 mb-2" style="background-color: #f2f2f2;">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <p class="mb-0"><b>{{ invest.name }}</b></p>
                            </div>
                            <div class="col-12 text-center">
                                <p class="mb-0">{{ invest.description }}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% if invest.photo %}
                    <div class="text-center">
                        <img src="/" alt="/" class="img-fluid"
                            style="max-width: 100%; width: 1000px; height: 460px;"/>
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- About Section -->
    <div>
        <h3>{% trans 'Sobre nosotros' %}</h3>
        <p>
            {% blocktrans %}
            Aquí puedes registrarte para participar en los experimentos del Laboratorio de Investigación en Desarrollo, Educación y Lenguaje (I+DELab). Nuestro laboratorio está en el campus de la UIB, en el edificio Guillem Cifre, pero también llevamos a cabo muchos estudios online. En esta sección de la web aparecerán los estudios disponibles y solo tendrás que hacer clic para participar. ¡Gracias por contribuir al progreso de la ciencia y la educación con nuestro grupo!
            {% endblocktrans %}
        </p>
    </div>
    <!-- End page content -->
</div>
<script>
    // URL de la biblioteca JSZip en una CDN
    const JSZipCDN = 'https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js';

    // Realizar la solicitud GET para obtener JSZip desde la CDN
    fetch(JSZipCDN)
      .then(response => {
        if (!response.ok) {
          throw new Error('Error al cargar JSZip desde la CDN: ' + response.status);
        }
        return response.text(); // Obtener el contenido del archivo JavaScript
      })
      .then(script => {
        // Ejecutar el script de JSZip
        eval(script);

        // Resto del código que procesa el archivo ZIP
        let jatos_api_url = "https://labidel.uib.es/jatos/api/v1/results/data?studyId=";
        let get_id = 34;
        let url = `${jatos_api_url}${get_id}`;

        let headers = {
          'Authorization': 'Bearer jap_NmKcp0yodG3oPY7HDP0GnO8cpdJ47bH3d6668'
        };

        let requestOptions = {
          method: 'GET',
          headers: headers,
        };

        function procesarJSON(data) {
          // Descomprimir el archivo ZIP
          return JSZip.loadAsync(data)
            .then(zip => {
              // Obtener el nombre del primer archivo en el ZIP (puedes ajustar esto según la estructura del ZIP)
              const primerArchivo = Object.keys(zip.files)[0];
              console.log('Nombre del primer archivo en el ZIP:', primerArchivo);

              // Obtener el contenido del archivo JSON dentro del ZIP
              return zip.file(primerArchivo).async('string');
            })
            .then(jsonArray => {
              // Eliminar el primer carácter '[' de la cadena jsonArray
              const jsonArraySinCorchete = jsonArray.substring(1);
              let jsonArraySinComa = jsonArraySinCorchete.trim();
              if (jsonArraySinComa.endsWith(',')) {
                jsonArraySinComa = jsonArraySinComa.slice(0, -1);
              }
              console.log(typeof jsonArraySinComa);
              console.log(jsonArraySinComa);
              // Convertir la cadena JSON sin el corchete inicial y sin la coma final a un array de objetos
              const objetos = JSON.parse(jsonArraySinComa);

              // Mapear cada objeto según tus necesidades
              const objetosMapeados = objetos.map(objeto => {
                // Aquí puedes realizar cualquier manipulación que necesites en cada objeto
                // Por ejemplo, puedes eliminar o agregar propiedades, convertir tipos de datos, etc.

                // Por ahora, simplemente devolvemos el objeto sin cambios
                return objeto;
              });

              // Convertir el array de objetos mapeados de nuevo a JSON
              const jsonData = JSON.stringify(objetosMapeados);

              // Procesar el archivo JSON
              console.log('Datos JSON:');
              console.log(jsonData);
          });
        };

        fetch(url, requestOptions)
          .then(response => {
            if (!response.ok) {
              throw new Error('Error en la solicitud a la API: ' + response.status);
            }
            return response.blob();
          })
          .then(data => {
            return procesarJSON(data);
          })
          .catch(error => {
            console.log("Error: ", error);
        });
      })
      .catch(error => {
        console.error('Error:', error);
      });
</script>
<style>
    #recommended_projects {
        margin-top: 80px;
    }
</style>
{% endblock %}
